body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
  }
  
  h1{
    color: rgb(201, 207, 212);
    font-size: 40px;
  }
  h3{
    color: rgb(207, 216, 223);
  }

  .btn {
    display: inline-block;
    text-decoration: none; 
    background-color: #636e86;
    color: white;
    width: 60%;
    padding: 20px;
    border-radius: 90px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  .container{
    text-align: center;
    padding-top: 40px;
    

  }
  .btn:hover{
    background-color: #222833;
    transition: .3s;
  }
.img{
  /* padding-top: 100px; */
  height: 130px;
  width: 130px;
  border-radius: 100%;
}
.icon{
  height: 25px;
}
.user{
  height: 40px;
}